.item-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-info {
    width: 30%;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}